.page-container {
	width: 100%; height: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgba(244,244,244);
	overflow: hidden;
}

.page-header {
	flex-shrink: 0;
}

.page-header>.page-header-top {
	height: 45px;
	line-height: 45px;
}

.page-header>.page-header-top>a.back {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	margin: 0 10px;
}

.page-header>.page-header-top>input.search {
	vertical-align: middle;
	width: 75%;
	height: 32px;
	border-radius: 10px;
	background-color: white;
}

.page-header>.page-header-top>i.show-mode {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}

.page-header>.page-header-order {
	height: 36px;
	line-height: 36px;
}

.page-header>.page-header-order>i {
	margin: 0 14px;
}

.page-header>.page-header-order>span {
	margin: 0 32px;
	font-size: 14px;
}

.page-header>.page-header-order>span.active {
	color: red;
}

.page-content {
	overflow: hidden;
	flex-grow: 1;
	background-color: rgba(244,244,244);
	touch-action: pan-y;
}

.page-content>.scroll-content {
	overflow: auto;
}

.page-content>.scroll-content>ul.product-list.list {
	display: flex;
	flex-direction: column;
}

.page-content>.scroll-content>ul.product-list.list>li {
	height: 146px;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	background-color: white;
}

.page-content>.scroll-content>ul.product-list.list>li>a {
	display: flex;
	max-width: 100%;
}

.page-content>.scroll-content>ul.product-list.list>li>a>.image-wrapper {
	width: 126px;
	flex-shrink: 0;
	align-self: center;
	background-color: rgba(250,250,250);
}

.page-content>.scroll-content>ul.product-list.list>li>a>.image-wrapper>img {
	width: 100%;
}

.page-content>.scroll-content>ul.product-list.list>li>a>.content-wrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.page-content>.scroll-content>ul.product-list.list>li>a>.content-wrapper>span {
	flex-grow: 1;
}

.page-content>.scroll-content>ul.product-list.list>li>a>.content-wrapper>span.name {
	color: black;
}

.page-content>.scroll-content>ul.product-list.list>li>a>.content-wrapper>span.brief {
	color: #666666;
}

.page-content>.scroll-content>ul.product-list.list>li>a>.content-wrapper>span.price {
	color: #FF0000;
}

.page-content>.scroll-content>ul.product-list.list>li>a>.content-wrapper>.bottom {
	font-size: 11px;
	color: #666666;
}

.page-content>.scroll-content>ul.product-list.list>li>a>.content-wrapper>.bottom>span {
	margin-right: 10px;
}

.page-content>.scroll-content>ul.product-list.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 5px;
	box-sizing: border-box;
}

.page-content>.scroll-content>ul.product-list.card>li {
	flex-shrink: 0;
	width: 50%;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.page-content>.scroll-content>ul.product-list.card>li>a {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: white;
}

.page-content>.scroll-content>ul.product-list.card>li>a>.image-wrapper {
	flex-shrink: 0;
	height: 138px;
	margin-top: 5px;
	align-self: center;
	background-color: rgba(250,250,250);
}

.page-content>.scroll-content>ul.product-list.card>li>a>.image-wrapper>img {
	width: 138px;
}

.page-content>.scroll-content>ul.product-list.card>li>a>.content-wrapper {
	flex-shrink: 0; 
	display: flex;
	flex-direction: column;
}

.page-content>.scroll-content>ul.product-list.card>li>a>.content-wrapper>span {
	margin-left: 5px;
	flex-grow: 1;
	font-size: 14px;
	margin-bottom: 5px;
}

.page-content>.scroll-content>ul.product-list.card>li>a>.content-wrapper>span.name {
	color: black;
}

.page-content>.scroll-content>ul.product-list.card>li>a>.content-wrapper>span.brief {
	color: #666666;
}

.page-content>.scroll-content>ul.product-list.card>li>a>.content-wrapper>span.price {
	color: #FF0000;
}

.page-content>.scroll-content>ul.product-list.card>li>a>.content-wrapper>.bottom {
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 11px;
	color: #666666;
}

.page-content>.scroll-content>ul.product-list.card>li>a>.content-wrapper>.bottom>span {
	margin-right: 10px;
}

.page-content>.scroll-content>p {
	text-align: center;
	line-height: 48px;
	font-size: 16px;
	background-color: rgba(255,255,255);
}


/* 返回顶部 */
i.rocket {
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	color: white;
	display: none;
}












